<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://res.wx.qq.com/t/wx_fed/weui-source/res/2.5.5/weui.css">
    <title>支付完成</title>
</head>
<body data-weui-theme="light">
    <div class="page">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">支付成功</h2>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="javascript:WeixinJSBridge.call('closeWindow');" role="button" class="weui-btn weui-btn_primary">关闭</a>
                </p>
            </div>
            <div class="weui-msg__tips-area">
              <p class="weui-msg__tips">如未发货,请联系管理员</p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__text">Copyright &copy; 2022 光域科技</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>