<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.wangcai.gypayserver.mapper.OrderMapper">

    <select id="getUnPayOrder" resultType="Order">
        SELECT * FROM payorder WHERE order_id NOT IN (SELECT order_id FROM payrecord) and create_time >= DATE_SUB(curdate(), INTERVAL 1 DAY) ;
    </select>
</mapper>